.HeaderNav {
  width: 80%;
  margin: 40px auto;
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  .btn {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    background: #ccc;
    &:hover {
      background: #888;
      color: #fff;
    }
  }
}
